# NetBeans specific #
core
nbproject/private/
!nbproject/project.properties
!nbproject/project.xml
build/
nbbuild/
nbactions.xml
nb-configuration.xml

# Ant specific
dist/
build/

# Class Files #
*.class

# Package Files #
*.jar
*.war
*.ear

# General swap/backup files
*.so
*.log
*.out
*~
*.swp
*.DS_Store
*.lock

