*.o
*.lo
*.la
#*#
.*.rej
*.rej
.*~
*~
.#*
.DS_Store
*.sw[po]
tags
*.pyc
*.class
.svn
*.svn-base
*.log
*.bak
*.tmp
*.swp
*.lock
*.zip
*.tar.gz
*.so
*.out
*.png
.cache/
Rplots.pdf
.Rhistory
ipython_log.py
Untitled0.ipynb
.ipynb_checkpoints
*.pickle
__pycache__/
*.egg-info/
.venv/
node_modules/
.idea/
.vscode/
target/
build/
dist/
*.jar
*.war
*.gem
android/*/bin/
bin-debug/
bin-release/
gen/
local.properties
*.apk
*.dex
*.ap_
