<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>node.js example - link picker</title>
  </head>
  <body>
    <h1>node.js example - link picker</h1>
    <form method="GET">
      Enter URL:
      <input type="text" name="url" size="40" value="<%= url %>">
      <input type="submit" value="Submit">
    </form>
    <%- body %>
  </body>
</html>
